{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<h1>Log Samples</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('upload_csv_sample_metadata_page') }}">Upload Metadata for Samples</a></li>
        	    <li><a href="{{ url_for('upload_csv_for_sample_barcodes_page') }}">Upload CSV for Sample Barcodes</a></li> 
                <li><a href="{{ url_for('log_tissue_box_samples_page') }}">Log Tissue Storage Box Samples</a></li> 
            </ul>
        </nav>
<h1>Log Extractions</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('upload_csv_extraction_metadata_page') }}">Upload Metadata for Extractions</a></li>
                <li><a href="{{ url_for('upload_csv_for_plate_barcode_page') }}">Upload CSV for Plate Barcode</a></li>
            </ul>
        </nav>

<h1>Query Samples</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('query_lab_members_page') }}">Query Lab Members</a></li>
                <li><a href="{{ url_for('query_sample_id_page') }}">Query Sample ID</a></li>
            </ul>
        </nav>

        <h3>Query Samples</h3>
        <nav>
            <ul>
                <li><a href="{{ url_for('readme') }}">README.md</a></li>
            </ul>
        </nav>


{% endblock %}
