{% extends 'base.html' %}

{% block head %}
<title>Query Sample ID</title>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        td {
            width: 50px;
            height: 50px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

<h1>Query Sample ID</h1>

    <label for="Sample ID">Sample ID: </label>
    <input type="text" id="SampleID" name="SampleID">

    <script>
        function submitSampleID() {
            const sample_id = document.getElementById('SampleID').value;

            const data = { sample_id: sample_id };
            const data2 = { sample_id: sample_id };  // or change if you really want different things

    // First fetch
            const req1 = fetch('/query_sample_id_metadata', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            }).then(r => r.json());

    // Second fetch (different endpoint or same?)
            const req2 = fetch('/query_sample_id_extraction_metadata', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data2)
            }).then(r => r.json());

    // Wait for *both* responses
            Promise.all([req1, req2]).then(([result1, result2]) => {
                document.getElementById('result').innerText =
                    `Sample Metadata:\n${JSON.stringify(result1, null, 2)}\n\nExtraction Metadata:\n${JSON.stringify(result2, null, 2)}`;
            });
        }
    </script>

    <p>&nbsp;</p>
    
    <button class="submit" id="submitID" onclick="submitSampleID()">Submit Sample ID</button>

    <p>&nbsp;</p>

    <div id="result" style="white-space: pre-wrap; margin-top: 1rem;"></div>

    <p>&nbsp;</p>

    <a class="button-link" href="{{ url_for('index') }}">Back to Home</a>

{% endblock %}